.titulo-jumbotrone{
    font-size: 100px; ;
}
.card{
    width : 270px;
    height: 300px;
    display: inline-block;
   justify-content: center;
}
.footertext{
 padding-top: 20px;
    
}
footer{
    height: 60px;
    text-align: center;
   
}
@media (max-width: 1000px) {
    .card {
        width: 95%;
        
    }
    .btn{
        margin-bottom: 15px;
    }
}